h3 a, h4 a, h5 a, h6 a {
  color: white;
  font-size: 19.5px;
}

h3, h4, h5, h6 {
  margin-bottom: 20%;
}


.container {
  margin-top: 300px;
  margin-left: 125px; 
  margin-right: 200px;
  text-align: left;
}