@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&family=Ubuntu:wght@300&family=Varela+Round&display=swap');

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body, html {
  padding: 0;
  margin: 0;
  font-family: 'Varela Round', sans-serif;
  background-color: rgb(73, 73, 72);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  width: 100%;
}

nav{
  background: #454544;
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

label.title a{
  float: left;
  line-height: 80px;
  padding: 0 30px;
}

label.title h1 {
  position: absolute;
  margin-left: 45%;
  color: white;
  font-size: 30px;
}

label.title img {
  position: absolute;
  
}

nav ul{
  float: right;
  margin-right: px;
}

nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a{
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
}

a.active,a:hover{
  background: gray;
  transition: .5s;
}

.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

nav ul li a {
  font-size: 20px;
}

a:hover, a.active {
  background: none;
  color: #0082e6;
}

#check:checked ~ ul {
  left: 0;
} *

img {
  position: fixed;
  top: 10px;
  max-width: 100%;
  height: auto;
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.icon {
  font-size: 20px;
  color: white;
  margin: 5.5px;
  cursor: pointer;
  transition: color 0.3s; 
}


.icon:hover {
  color: #0082e6;
}

#title {
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 425px; 
  font-size: 22px;
}

.footer {
  background: rgb(107, 107, 106);
  width: 25vw;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
  font-size: 16px;
  margin-top: auto;
}

.footer p a {
  color: white;
  font-size: 16px;
}

@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #454544;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
}

@media (max-width: 952px) {
  label.title  {
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a {
    font-size: 16px;
  }
}




