@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&family=Ubuntu:wght@300&family=Varela+Round&display=swap');

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body, html {
  padding: 0;
  margin: 0;
  font-family: 'Varela Round', sans-serif;
  background-color: grey;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  width: 100%;
  overflow: hidden;
}

nav{
  background: #454544;
  height: 80px;
  width: 100%;
}

label.title a{
  float: left;
  color: white;
  font-size: 25px;
  line-height: 80px;
  padding: 0 30px;
  margin-left: 50px;
  font-weight: bold;
  border-radius: 10px;
  background: none;
}

nav ul{
  float: right;
  margin-right: 50px;
}

nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a{
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
}

a.active,a:hover{
  background: gray;
  transition: .5s;
}

.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

nav ul li a {
  font-size: 20px;
}

a:hover, a.active {
  background: none;
  color: #0082e6;
}

#check:checked ~ ul {
  left: 0;
} *

section {
  background: url(bg1.jpg) no-repeat;
  background-size: cover;
  height: calc(100vh - 80px);
}

img {
  position: relative;
  top : 12vh;
  max-width: 100%;
  height: auto;
  height: 220px;
  width: 220px;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
  padding-bottom: 10px;
}

h1 {
  position: relative;
  top: 14.5vh;
  font-size: 40px;
}

p {
  color: white;
  position: relative;
  top: 20vh;
  font-size: 20px;
}

.icons-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  position: relative;
  top: 21vh;
}

.icon {
  font-size: 30px;
  color: white;
  margin: 10px;
  cursor: pointer;
  transition: color 0.3s;
}

.icon:hover {
  color: #0082e6;
}

.footer h4 {
  position: relative;
  top: 50vh;
}

@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #454544;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
}

@media (max-width: 952px) {
  label.title  {
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a {
    font-size: 16px;
  }
}




